*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

[class^='heading-'] {
  text-transform: uppercase;
  font-weight: 700; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-block-end: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1000ms; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    animation: moveInRight 1000ms; }

.heading-secondary {
  letter-spacing: 2px;
  font-size: 3.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  transition: transform 200ms; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: inherit; }

.paragraph:not(:last-child) {
  margin-block-end: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-block-end: 8rem; }

.u-margin-bottom-medium {
  margin-block-end: 4rem; }

.u-margin-bottom-small {
  margin-block-end: 1.6rem; }

.header {
  block-size: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    inset: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-inline-size: 114rem;
  margin-inline: auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-block-end: 8rem; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-inline-end: 6rem; }
  .row .col-1-of-2 {
    inline-size: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    inline-size: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    inline-size: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    inline-size: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    inline-size: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    inline-size: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: translate 400ms, transform 400ms, box-shadow 200ms;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  position: relative; }

.btn:active {
  translate: 0 -0.1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover {
  translate: 0 -0.3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.45);
    opacity: 0;
    z-index: 1; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  inset: 0;
  transition: transform 400ms, opacity 400ms;
  z-index: -1; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: inherit; }

.btn--primary-color {
  background-color: #55c57a;
  color: #fff; }
  .btn--primary-color::after {
    background-color: inherit; }

.btn--animated {
  animation: moveInBottom 1000ms; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-block-end: 1px solid currentColor;
  padding: 3px;
  transition: color 200ms, box-shadow 250ms, transform 200ms, border-radius 200ms; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
  border-radius: 4px; }

.btn-text:active {
  box-shadow: unset; }

.composition {
  position: relative; }
  .composition__photo {
    display: inline-block;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 0;
    transition: transform 450ms, box-shadow 200ms;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      inset-inline-start: 0;
      inset-block-start: 0; }
    .composition__photo--p2 {
      inset-inline-end: 0;
      inset-block-start: 4rem; }
    .composition__photo--p3 {
      inset-inline-start: 8rem;
      inset-block-start: 12rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 2.4rem;
  transition: transform 200ms; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.03); }
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.card {
  block-size: 50rem;
  position: relative;
  perspective: 150rem; }
  .card__side {
    block-size: 50rem;
    font-size: 2rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    position: absolute;
    inset: 0;
    transition: transform 700ms;
    overflow: hidden; }
    .card__side--front {
      transform: rotateY(0); }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
    .card__side--back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__side--back-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__side--back-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    z-index: 0; }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    block-size: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    inline-size: 75%;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    font-style: italic;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 1.6rem; }
  .card__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.75), rgba(255, 119, 48, 0.75)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.75), rgba(86, 67, 250, 0.75)); }
  .card__details {
    padding: 1.6rem; }
    .card__details ul {
      list-style-type: none;
      inline-size: 80%;
      text-align: center;
      margin-inline: auto; }
      .card__details ul li {
        font-size: 1.6rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-block-end: 2px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    inline-size: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-block-end: 2rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.section-about {
  background-color: #f7f7f7;
  padding-block: 25rem;
  margin-block-start: -20vh; }

.section-features {
  margin-block-start: -9.2rem;
  padding-block: 20rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-block-start: -9.2rem;
  padding-block-start: 20rem;
  padding-block-end: 12rem;
  background-color: #f7f7f7; }
