$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    inset: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1000ms;
}

.heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    animation: moveInRight 1000ms;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: translate 200ms, box-shadow 200ms;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    position: relative;
}

.btn:hover {
    translate: 0 -0.3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    translate: 0 -0.1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: '';
    display: inline-block;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 10rem;
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: transform 400ms, opacity 200ms;
}

.btn--white {
    background-color: $color-white;
    color: $color-grey-dark;
}

.btn--white::after {
    background-color: $color-white;
}

.btn:hover::after {
    transform: scale(1.4);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom 1000ms;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
