.row {
	max-inline-size: $grid-max-width;
	margin-inline: auto;
	@include respond(tab-port) {
		max-inline-size: Min(94vw, $grid-max-width-small);
		padding-inline: 1.2rem;
	}

	@include clearfix;

	&:not(:last-child) {
		margin-block-end: $grid-gutter-vertical;
		@include respond(tab-port) {
			margin-block-end: $grid-gutter-vertical-small;
		}
	}

	[class^="col-"] {
		float: left;

		&:not(:last-child) {
			margin-inline-end: $grid-gutter-horizontal;
			@include respond(tab-port) {
				margin-inline-end: 0;
				margin-block-end: $grid-gutter-vertical-small;
			}
		}

		@include respond(tab-port) {
			inline-size: 100% !important;
		}
	}

	.col-1-of-2 {
		inline-size: calc((100% - #{$grid-gutter-horizontal}) / 2);
	}

	.col-1-of-3 {
		inline-size: calc((100% - 2 * #{$grid-gutter-horizontal}) / 3);
	}

	.col-1-of-4 {
		inline-size: calc((100% - 3 * #{$grid-gutter-horizontal}) / 4);
	}

	.col-2-of-3 {
		inline-size: calc(
			2 * ((100% - 2 * #{$grid-gutter-horizontal}) / 3) + #{$grid-gutter-horizontal}
		);
	}

	.col-2-of-4 {
		inline-size: calc(
			2 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + #{$grid-gutter-horizontal}
		);
	}

	.col-3-of-4 {
		inline-size: calc(
			3 * ((100% - 3 * #{$grid-gutter-horizontal}) / 4) + 2 * #{$grid-gutter-horizontal}
		);
	}
}
