.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: translate 400ms, transform 400ms, box-shadow 200ms;
		box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
		position: relative;
	}

	&:active {
		translate: 0 -0.1rem;
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&:hover {
		translate: 0 -0.3rem;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

		&::after {
			transform: scale(1.45);
			opacity: 0;
			z-index: 1;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		border-radius: 10rem;
		position: absolute;
		inset: 0;
		transition: transform 400ms, opacity 400ms;
		z-index: -1;
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;

		&::after {
			background-color: inherit;
		}
	}

	&--primary-color {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: inherit;
		}
	}

	&--animated {
		animation: moveInBottom 1000ms;
	}
}

.btn-text {
	&:link,
	&:visited {
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-block-end: 1px solid currentColor;
		padding: 3px;
		transition: color 200ms, box-shadow 250ms, transform 200ms,
			border-radius 200ms;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
		transform: translateY(-1px);
		border-radius: 4px;
	}

	&:active {
		box-shadow: unset;
	}
}
