.composition {
	position: relative;

	&__photo {
		display: inline-block;
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
		position: absolute;
		z-index: 0;
		transition: transform 450ms, box-shadow 200ms;
		outline-offset: 2rem;

		&--p1 {
			inset-inline-start: 0;
			inset-block-start: 0;
		}

		&--p2 {
			inset-inline-end: 0;
			inset-block-start: 4rem;
		}

		&--p3 {
			inset-inline-start: 8rem;
			inset-block-start: 12rem;
		}

		&:hover {
			outline: 1.5rem solid $color-primary;
			transform: scale(1.05);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 1;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}
}
