.composition {
	position: relative;
	text-align: center;

	&__photo {
		display: inline-block;
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		border-radius: 2px;
		position: absolute;
		z-index: 0;
		transition: transform 450ms, box-shadow 200ms;
		outline-offset: 2rem;

		@include respond(tab-port) {
			position: relative;
			width: 30%;
			box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
		}

		&--p1 {
			inset-inline-start: 0;
			inset-block-start: 0;
		}

		&--p2 {
			inset-inline-end: 0;
			inset-block-start: 4rem;

			@include respond(tab-port) {
				inset: unset;
				transform: scale(1.3) translateY(-3.2rem);
				z-index: 2;
			}
		}

		&--p3 {
			inset-inline-start: 8rem;
			inset-block-start: 12rem;

			@include respond(tab-port) {
				inset: unset;
			}
		}

		&:hover {
			outline: 1.5rem solid $color-primary;
			transform: scale(1.05);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: 3;

			@include respond(tab-port) {
				outline: unset;
				transform: none;
			}
		}
		&--p2:hover {
			@include respond(tab-port) {
				transform: scale(1.3) translateY(-3.2rem);
			}
		}
	}

	&:hover &__photo:not(:hover) {
		& &__photo:not(:hover) {
			transform: scale(0.95);

			@include respond(tab-port) {
				transform: unset;
			}
		}

		& &__photo--p2:not(:hover) {
			@include respond(tab-port) {
				transform: scale(1.3) translateY(-3.2rem);
			}
		}
	}
}
