.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-big {
	margin-block-end: 8rem !important;

	@include respond(tab-port) {
		margin-block-end: 4rem !important;
	}
}

.u-margin-bottom-medium {
	margin-block-end: 4rem !important;
}

.u-margin-bottom-small {
	margin-block-end: 1.6rem !important;
}
