.section-about {
	background-color: $color-grey-light-1;
	padding-block: 25rem;
	margin-block-start: -20vh;
}

.section-features {
	margin-block-start: -9.2rem;
	padding-block: 20rem;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../img/nat-4.jpg);
	background-size: cover;

	transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
	}
}

.section-tours {
	margin-block-start: -9.2rem;
	padding-block-start: 20rem;
	padding-block-end: 12rem;

	background-color: $color-grey-light-1;
}

.section-stories {
	padding-block: 15rem;
	position: relative;
	isolation: isolate;
}

.section-book {
	padding-block: 15rem;
	background-image: linear-gradient(
		to right bottom,
		$color-primary-light,
		$color-primary-dark
	);

	.book {
		background-image: linear-gradient(
				105deg,
				rgba($color-white, 0.9) 0%,
				rgba($color-white, 0.9) 50%,
				transparent 50%
			),
			url(../img/nat-10.jpg);
		background-size: cover;
		border-radius: 3px;
		box-shadow: 1.5rem 1rem 1rem rgba($color-black, 0.25);

		&__form {
			inline-size: 50%;
			padding: 6rem;
		}
	}
}
